alias be='bundle exec'

# git aliases

alias labhash='git rev-parse --short=8 HEAD'

alias gvim=nvim-qt
alias tmux='tmux -2'

# media
alias mpva='mpv --no-audio-display --cache-pause-initial --prefetch-playlist'
alias mpvp='mpv --no-audio-display --cache-pause-initial --prefetch-playlist --speed=1.46'
